In [41]:
import os, glob, sqlite3
import pandas

In [42]:
os.makedirs("Fitness Tracker Dataset", exist_ok=True)
Dataset_Path = os.path.join("Fitness Tracker Dataset", "Fitness Tracker Dataset.csv")

In [43]:
Fitness_Tracker = pandas.read_csv(Dataset_Path)
Fitness_Tracker

,User ID,Datetime,Steps,Calories Burned,Distance,Activity,Sleep,Heart Rate Avg,Workout Type,Weather Conditions,Location,Mood
0,468,2023-01-01,4530,2543.02,16.10,613,1.5,176,Walking,Clear,Park,Tired
1,879,2023-01-01,11613,1720.76,8.10,352,6.3,128,Cycling,Fog,Park,Happy
2,152,2023-01-01,27335,1706.35,3.57,236,6.7,134,Yoga,Snow,Park,Neutral
3,311,2023-01-01,13459,2912.38,6.41,1329,11.6,116,Swimming,Rain,Office,Tired
4,759,2023-01-01,15378,3344.51,17.88,52,7.4,84,Swimming,Rain,Office,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...
638995,439,2024-09-30,9325,2648.95,5.45,630,11.9,135,Walking,Snow,Other,Stressed
638996,746,2024-09-30,13763,1841.06,14.36,1418,6.8,153,Gym Workout,Clear,Gym,Tired
638997,216,2024-09-30,1549,3773.45,2.79,16,11.6,133,Walking,Snow,Gym,Stressed
638998,218,2024-09-30,7313,2053.57,1.16,218,9.8,60,Gym Workout,Rain,Gym,Happy
638999,718,2024-09-30,21940,3098.55,18.95,995,5.3,116,NaN,Rain,Home,Happy

In [44]:
Fitness_Tracker['Datetime'] = pandas.to_datetime(Fitness_Tracker['Datetime'])
mask = (Fitness_Tracker['Datetime'].dt.year == 2025) | (Fitness_Tracker['Datetime'].dt.year == 2024) & (Fitness_Tracker['Datetime'].dt.month >= 10)
Fitness_Tracker = Fitness_Tracker[~mask]
Fitness_Tracker.to_csv(Dataset_Path, index=False)

In [45]:
class SQLite3:
    def __init__(self, Dataset):
        self.Fitness_Tracker = Dataset
        
    def House_Price_Statistics(self):
        if 'Fitness Tracker.db' not in glob.glob("*.db"):
            Connection = sqlite3.connect('Fitness Tracker.db')
            self.Fitness_Tracker.to_sql('Fitness Tracker', Connection, if_exists='replace', index=False)
            print("Database already created!")
            return Connection
        else: return sqlite3.connect('Fitness Tracker.db')

    def Exc(self, Query):
        Connection = self.House_Price_Statistics()
        return pandas.read_sql_query(Query, Connection)

In [46]:
Conn = SQLite3(Fitness_Tracker)
Query = """
    SELECT * 
    FROM 'Fitness Tracker'
"""        
Conn.Exc(Query)

Database already created!

,User ID,Datetime,Steps,Calories Burned,Distance,Activity,Sleep,Heart Rate Avg,Workout Type,Weather Conditions,Location,Mood
0,468,2023-01-01 00:00:00,4530,2543.02,16.10,613,1.5,176,Walking,Clear,Park,Tired
1,879,2023-01-01 00:00:00,11613,1720.76,8.10,352,6.3,128,Cycling,Fog,Park,Happy
2,152,2023-01-01 00:00:00,27335,1706.35,3.57,236,6.7,134,Yoga,Snow,Park,Neutral
3,311,2023-01-01 00:00:00,13459,2912.38,6.41,1329,11.6,116,Swimming,Rain,Office,Tired
4,759,2023-01-01 00:00:00,15378,3344.51,17.88,52,7.4,84,Swimming,Rain,Office,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...
638995,439,2024-09-30 00:00:00,9325,2648.95,5.45,630,11.9,135,Walking,Snow,Other,Stressed
638996,746,2024-09-30 00:00:00,13763,1841.06,14.36,1418,6.8,153,Gym Workout,Clear,Gym,Tired
638997,216,2024-09-30 00:00:00,1549,3773.45,2.79,16,11.6,133,Walking,Snow,Gym,Stressed
638998,218,2024-09-30 00:00:00,7313,2053.57,1.16,218,9.8,60,Gym Workout,Rain,Gym,Happy
638999,718,2024-09-30 00:00:00,21940,3098.55,18.95,995,5.3,116,None,Rain,Home,Happy