In [17]:
import os, glob, sqlite3
import pandas

In [18]:
os.makedirs("Fitness Tracker Dataset", exist_ok=True)
Dataset_Path = os.path.join("Fitness Tracker Dataset", "Fitness Tracker Dataset.csv")

In [19]:
Fitness_Tracker = pandas.read_csv(Dataset_Path)
Fitness_Tracker_SQLite3 = Fitness_Tracker

In [20]:
def Remove_Future(Fitness_Tracker):
    Fitness_Tracker['Datetime'] = pandas.to_datetime(Fitness_Tracker['Datetime'])
    mask = (Fitness_Tracker['Datetime'].dt.year == 2025) | (Fitness_Tracker['Datetime'].dt.year == 2024) & (Fitness_Tracker['Datetime'].dt.month >= 10)
    Fitness_Tracker = Fitness_Tracker[~mask]
    Fitness_Tracker.to_csv(Dataset_Path, index=False)

In [21]:
class SQLite3:
    def __init__(self, Dataset):
        self.Dataset = Dataset
        
    def House_Price_Statistics(self):
        if 'Fitness Tracker.db' not in glob.glob("*.db"):
            Connection = sqlite3.connect('Fitness Tracker.db')
            self.Dataset.to_sql('Fitness Tracker', Connection, if_exists='replace', index=False)
            print("Database already created!")
            return Connection
        else: return sqlite3.connect('Fitness Tracker.db')

    def Exc(self, Query):
        Connection = self.House_Price_Statistics()
        return pandas.read_sql_query(Query, Connection)
    
Conn = SQLite3(Fitness_Tracker_SQLite3)
Query = """
    SELECT * 
    FROM 'Fitness Tracker'
"""        
Conn.Exc(Query)

,User ID,Datetime,Steps,Calories Burned,Distance,Activity,Sleep,Heart Rate Avg,Workout Type,Weather Conditions,Location,Mood
0,468,2023-01-01 00:00:00,4530,2543.02,16.10,613,1.5,176,Walking,Clear,Park,Tired
1,879,2023-01-01 00:00:00,11613,1720.76,8.10,352,6.3,128,Cycling,Fog,Park,Happy
2,152,2023-01-01 00:00:00,27335,1706.35,3.57,236,6.7,134,Yoga,Snow,Park,Neutral
3,311,2023-01-01 00:00:00,13459,2912.38,6.41,1329,11.6,116,Swimming,Rain,Office,Tired
4,759,2023-01-01 00:00:00,15378,3344.51,17.88,52,7.4,84,Swimming,Rain,Office,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...
638995,439,2024-09-30 00:00:00,9325,2648.95,5.45,630,11.9,135,Walking,Snow,Other,Stressed
638996,746,2024-09-30 00:00:00,13763,1841.06,14.36,1418,6.8,153,Gym Workout,Clear,Gym,Tired
638997,216,2024-09-30 00:00:00,1549,3773.45,2.79,16,11.6,133,Walking,Snow,Gym,Stressed
638998,218,2024-09-30 00:00:00,7313,2053.57,1.16,218,9.8,60,Gym Workout,Rain,Gym,Happy
638999,718,2024-09-30 00:00:00,21940,3098.55,18.95,995,5.3,116,None,Rain,Home,Happy

In [23]:
class Cleanning:
    def __init__(self, Fitness_Tracker):
        self.Dataset = Fitness_Tracker.dropna()
        self.Cleaned_Data = self.Data_Cleanning()

    def Data_Cleanning(self):
        for Column_Name in self.Dataset:
            if not pandas.api.types.is_datetime64_any_dtype(self.Dataset[Column_Name]):
                try: 
                    self.Dataset[Column_Name].astype(str)
                    Column_Cleanning = {Values: index for index, Values in enumerate(self.Dataset[Column_Name].unique())}
                    self.Dataset.loc[:, Column_Name] = self.Dataset[Column_Name].map(Column_Cleanning)
                except ValueError:
                    pass
            
        self.Cleaned_Data = self.Dataset
        return self.Cleaned_Data

Cleanned_Data = Cleanning(Fitness_Tracker).Cleaned_Data      
Cleanned_Data

,User ID,Datetime,Steps,Calories Burned,Distance,Activity,Sleep,Heart Rate Avg,Workout Type,Weather Conditions,Location,Mood
0,0,0,0,0.0,0.0,0,0.0,0,0,0,0,0
1,1,0,1,1.0,1.0,1,1.0,1,1,1,0,1
2,2,0,2,2.0,2.0,2,2.0,2,2,2,0,2
3,3,0,3,3.0,3.0,3,3.0,3,3,3,1,0
4,4,0,4,4.0,4.0,4,4.0,4,3,3,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
638992,586,638,13568,27228.0,1844.0,931,7.0,20,5,3,0,0
638995,258,638,1341,195166.0,1423.0,421,63.0,93,0,2,4,3
638996,768,638,8061,49701.0,492.0,779,96.0,37,4,0,3,0
638997,339,638,22505,175857.0,1480.0,603,3.0,110,0,2,3,3
638998,910,638,27361,202646.0,8.0,453,16.0,40,4,3,3,1