In [16]:
import os, datetime
import pandas

In [17]:
os.makedirs("Fitness Tracker Dataset", exist_ok=True)
Dataset_Path = os.path.join("Fitness Tracker Dataset", "Fitness Tracker Dataset.csv")

In [18]:
test = pandas.read_csv(Dataset_Path)
test

,User ID,Datetime,Steps,Calories Burned,Distance,Activity,Sleep,Heart Rate Avg,Workout Type,Weather Conditions,Location,Mood
0,468,2023-01-01,4530,2543.02,16.10,613,1.5,176,Walking,Clear,Park,Tired
1,879,2023-01-01,11613,1720.76,8.10,352,6.3,128,Cycling,Fog,Park,Happy
2,152,2023-01-01,27335,1706.35,3.57,236,6.7,134,Yoga,Snow,Park,Neutral
3,311,2023-01-01,13459,2912.38,6.41,1329,11.6,116,Swimming,Rain,Office,Tired
4,759,2023-01-01,15378,3344.51,17.88,52,7.4,84,Swimming,Rain,Office,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...
999995,294,2025-09-26,21883,1711.42,4.62,124,7.9,174,Running,Fog,Other,Tired
999996,114,2025-09-26,15451,3961.63,1.93,1316,7.4,161,Cycling,Clear,Park,Tired
999997,85,2025-09-26,17912,3604.77,5.81,187,7.1,74,Swimming,Fog,Gym,Neutral
999998,109,2025-09-26,10072,2724.34,7.42,1203,6.0,74,Swimming,Snow,Gym,Tired
999999,893,2025-09-26,29516,3713.99,6.70,421,5.2,116,Yoga,Clear,Home,Tired

In [32]:

test['Datetime'] = pandas.to_datetime(test['Datetime'])

mask = (test['Datetime'].dt.year == 2025) | (test['Datetime'].dt.year == 2024) & (test['Datetime'].dt.month >= 10)

# Xóa các hàng theo điều kiện đã lọc
test = test[~mask]

# Kiểm tra kết quả
test.to_csv(Dataset_Path, index=False)

In [30]:
test

,User ID,Datetime,Steps,Calories Burned,Distance,Activity,Sleep,Heart Rate Avg,Workout Type,Weather Conditions,Location,Mood
0,468,2023-01-01,4530,2543.02,16.10,613,1.5,176,Walking,Clear,Park,Tired
1,879,2023-01-01,11613,1720.76,8.10,352,6.3,128,Cycling,Fog,Park,Happy
2,152,2023-01-01,27335,1706.35,3.57,236,6.7,134,Yoga,Snow,Park,Neutral
3,311,2023-01-01,13459,2912.38,6.41,1329,11.6,116,Swimming,Rain,Office,Tired
4,759,2023-01-01,15378,3344.51,17.88,52,7.4,84,Swimming,Rain,Office,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...
730995,587,2024-12-31,22381,2186.32,10.46,1152,8.5,116,Gym Workout,Fog,Gym,Tired
730996,189,2024-12-31,8316,2805.43,0.09,1243,10.2,65,Cycling,Rain,Home,Neutral
730997,262,2024-12-31,18582,3202.74,10.05,1089,1.6,92,Gym Workout,Rain,Gym,Happy
730998,214,2024-12-31,17346,2248.72,18.93,520,3.5,155,Yoga,Rain,Office,Stressed
730999,365,2024-12-31,29599,2929.43,12.50,829,5.6,155,Yoga,Fog,Other,Stressed